.image{
  height: 7.5vw;
  width: 7.5vw;
  border-radius: 50%;
  cursor: pointer;
  
  text-align: center;
 
}

.menu-container
  {
    display: flex;
    flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin: 20px 0px;
  overflow-x: scroll;

  }
  .menu-container::-webkit-scrollbar{
    display: none;
  }
  .menu-item>div{
    cursor: pointer;
    font-size: max(1.4vw,16px);
    color: #747474;
  }
 .hr1{
  margin: 10px 0px;
  height: 2px;
  border: none;
  background-color: #d6d6d6;
 }
 .menu-main >h2{
  font-size: max(2.5vw,30px);
  color: #3f3f3f;
 }
 .menu-main >p{
  font-weight: 400;
  color: #1b1b1b;
  max-width: 80%;
 }
.active{
  border: 4px solid rgb(255, 187, 0);
  padding: 1px;
}
